@import '../source/Variables';

#modal {
    @import '../components/loader';
    --scale: 1;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.32);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition-property: opacity, transform;
    transition: 0.5s cubic-bezier(.1, .28, .23, 1.86);
    font-size: calc(1em * var(---scale));

    //general
    a.full {
        color: #0087ff;
        font-weight: bold;
        display: block;
        text-align: center;
    }

    //structure
    .content {
        transition: inherit;
        transform: scale(.5);
        background-color: white;
        width: 50%;
        border-radius: .2em;
        padding: 1em;
        min-height: 50vh;
        color: var(--text-dim-e1);

        h2,
        p {
            text-align: center;
        }

        h2 {
            margin-top: 1em;
        }

        p {
            margin: .5em;
        }

        span.alert {
            display: block;
            text-align: center;
            color: red;
            font-weight: bold;
            font-size: 0.8em;
            overflow: hidden;
            max-height: 0;
            transition: .2s;

            &.active {
                max-height: 2em;
            }
        }

        .inputWrapper {
            display: flex;
            justify-content: center;
            gap: 1em;
            direction: ltr;

            input {
                margin-top: 1em;
                font-size: 2em;
                height: 1.4em;
                width: 1.4em;
                border-radius: .3em;
                background-color: #f2f4f5;
                color: #29263d;
                border: 0;
                text-align: center;
                caret-color: transparent;
                transition: background-color .1s;
                cursor: pointer;

                &:focus {
                    animation: blink infinite alternate 0.7s;
                    outline: .1em solid #dadbdc;
                }

                @keyframes blink {
                    0% {
                        background-color: #f2f4f5;
                    }

                    100% {
                        background-color: #dadbdc;
                    }
                }
            }
        }

        .resend {
            border: none;
            background: none;
            margin: auto;
            display: block;
            color: var(--theme-2);
            font-size: .8em;
            margin-top: 1.8em;
            cursor: unset;
            padding: .2em 1em;
            border-radius: .5em;
            transition: .2s;

            &.button {
                background: var(--back-dim-o1);
                color: var(--theme-3);
                font-weight: bold;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 0.4em;

                &:hover {
                    background-color: var(--back-dim-o05);
                }

                &::after {
                    content: "";
                    --wid: 0.7em;
                    width: 0;
                    height: Var(--wid);
                    display: inline-block;
                    border-radius: 50%;
                    border: .15em solid var(--theme-3);
                    border-top: .15em solid white;
                    flex-shrink: 0;
                    opacity: 0;
                    transition: .2s;
                    animation: spin 1.1s infinite linear;

                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }

                    //activate:
                    //opacity: 100;
                    //transition: .2s .7s;
                }

                &[disabled] {
                    background-color: var(--back-dim-o05);
                    cursor: initial;

                    &::after {
                        width: var(--wid);
                        opacity: 100;
                        transition: .2s .7s;
                    }
                }
            }
        }
    }

    &.active {
        opacity: 100;
        transform: scale(1);
        visibility: visible;

        .content {
            transform: scale(1);
        }
    }

    &.notification,
    &.choice,
    &.spinner {
        .content {
            width: max-content;
            min-height: unset;
            padding: 1.5em;

            i {
                color: green;
                width: 100%;
                text-align: center;
                font-size: 1.6em;
                margin-top: 0.5em;

                &.fa-times {
                    color: red;
                }
            }
        }
    }

    &.choice {
        span {
            display: block;
            margin-bottom: 1em;
        }

        .button {
            width: 45%;

            &:first-of-type {
                margin-left: 10%;
            }
        }
    }

    &.guide {
        .content {
            min-height: unset;
            --wid: 24em;
            width: var(--wid);
            height: var(--wid);
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('/Content/images/img/massageCloud.png');
            background-size: contain;
            font-weight: bold;
            padding: 0 3em;
            padding-top: 1em;
            padding-right: 4em;
            text-align: center;
            flex-direction: column;
            gap: 1em;
            margin: -1.8em .2em;

            button {
                color: white;
                background: #00c3ff;
                padding: 0.2em 0.9em;
                border-radius: 0.5em;
                font-weight: bold;
                cursor: pointer;
                font-size: 1em;
                transition: .05s;

                &:hover {
                    background: #0087ff;
                }
            }
        }

        >img {
            position: absolute;
            width: 9em;
            height: 6.7em;

            &.flip {
                transform: scale(-1, 1);
            }

            &.toTop {
                transform: rotate(270deg)
            }

            &.toBottom {
                transform: rotate(90deg)
            }
        }

        &.right {
            justify-content: flex-start;
        }

        &.left {
            justify-content: flex-end;
        }

        &.bottom {
            justify-content: flex-end;
            flex-direction: column;
        }

        &.top {
            justify-content: flex-start;
            flex-direction: column;
        }



        @include media($screen) {
            font-size: calc(.8em * var(---scale));
        }

        @include media($mobile) {
            font-size: calc(0.65em*var(--scale));
        }
    }

    &.image {
        .content {
            padding: 0;
            width: unset;
            border-radius: 1em;
            overflow: hidden;
            box-shadow: 0 0 8px #00000075;
        }

        &.zoom {
            .content {
                min-height: unset;
                border-radius: 0.2em;
                background: transparent;
                box-shadow: none;
                
                img {
                    width: 80vw;
                    height: 80vh;
                    object-fit: contain;
                }
            }
        }
    }

    &.photoVeiw {
        .content {
            width: 100vw;
            overflow: visible;
            display: flex;
            align-items: center;
            background: none;
            box-shadow: none;
            --iconSize: 1.2em;

            i {
                position: absolute;
                color: rgb(132, 132, 132);
                font-size: 2em;
                top: 0;
                bottom: 0;
                margin: auto;
                cursor: pointer;
                display: flex;
                align-items: center;
                background: #a2a2a2;
                z-index: 1000;
                border-radius: .2em;
                background: #ffffffa8;
                transition: .03s;
                width: var(--iconSize);
                display: flex;
                justify-content: center;

                &:hover {
                    color: black;
                    background: #ffffffe3;
                }

                &.fa-chevron-right {
                    right: 0;
                }

                &.fa-chevron-left {
                    left: 0;
                }
            }

            .cont {
                display: flex;
                position: absolute;
                transition: 0.5s left cubic-bezier(.77, 0, .18, 1);

                >div {
                    width: 100vw;
                    display: flex;

                    img {
                        margin: auto;
                        display: block;
                        width: auto;
                        max-width: calc(100% - calc(3 * var(--iconSize)));
                        border-radius: .2em;
                        box-shadow: 2px 2px 5px #47474794;

                        &.active {
                            opacity: 100;
                        }
                    }
                }
            }
        }
    }

    &.fullscreen .content {
        width: 95%;
        max-height: 93vh;
        overflow-y: scroll;
    }

    &.guide {
        .content {
            min-height: unset;
            --wid: 24em;
            width: var(--wid);
            height: var(--wid);
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('/Content/images/img/massageCloud.png');
            background-size: contain;
            font-weight: bold;
            padding: 0 3em;
            padding-top: 1em;
            padding-right: 4em;
            text-align: center;
            flex-direction: column;
            gap: 1em;
            margin: -1.8em .2em;

            button {
                color: white;
                background: #00c3ff;
                padding: 0.2em 0.9em;
                border-radius: 0.5em;
                font-weight: bold;
                cursor: pointer;
                font-size: 1em;
                transition: .05s;

                &:hover {
                    background: #0087ff;
                }
            }
        }

        >img {
            position: absolute;
            width: 9em;
            height: 6.7em;

            &.flip {
                transform: scale(-1, 1);
            }

            &.toTop {
                transform: rotate(270deg)
            }

            &.toBottom {
                transform: rotate(90deg)
            }
        }

        &.right {
            justify-content: flex-start;
        }

        &.left {
            justify-content: flex-end;
        }

        &.bottom {
            justify-content: flex-end;
            flex-direction: column;
        }

        &.top {
            justify-content: flex-start;
            flex-direction: column;
        }



        @include media($screen) {
            font-size: calc(.8em * var(---scale));
        }

        @include media($mobile) {
            font-size: calc(0.65em*var(--scale));
        }
    }

    @include media($tablet) {
        .content {
            width: 90%;
        }
    }

    @include media($mobile) {
        font-size: calc(.8em * var(---scale));

        .content {
            width: 96%;
        }
    }
}